<div *ngIf="sessionExpired" class="session-expired">
  <h2>Session Expired</h2>
  <p>Your session has expired. Please login again.</p>
</div>

<amplify-authenticator [loginMechanisms]="['email']" [formFields]="formFields" [signUpAttributes]="['name']" *ngIf="!sessionExpired">
  <ng-template
    amplifySlot="authenticated"
    let-user="user"
    let-signOut="signOut"
  >
    <div [hidden]="true">{{ onUserAuthenticated() }}</div>
    <div class="header">
      <h1>Welcome to Skill Assessment Portal</h1>
      <button class="sign-out-btn" (click)="signOut()">Sign Out</button>
    </div>
    <app-profile></app-profile>
  </ng-template>
</amplify-authenticator>