<div *ngIf="sessionExpired" class="session-expired">
  <h2>Session Expired</h2>
  <p>Your session has expired. Please login again.</p>
</div>

<amplify-authenticator [loginMechanisms]="['email']" [formFields]="formFields" [signUpAttributes]="['name']" *ngIf="!sessionExpired">
  <ng-template
    amplifySlot="authenticated"
    let-user="user"
    let-signOut="signOut"
  >
    <div [hidden]="true">{{ onUserAuthenticated() }}</div>
    <h1>Welcome {{ user.username }}!</h1>
    <button (click)="signOut()">Sign Out</button>
  </ng-template>
</amplify-authenticator>